.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  /* border: 2px solid rgba(31, 30, 30, 0.808); */
  background-color: var(--oo-border-color);
  box-shadow: 0 0 26px var(--oo-background-color-primary) ;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}

.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: black;
  border: var(--oo-border-width) solid var(--oo-border-color);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  /* transition-delay: 1s; */
  pointer-events: none;
}
